:root {
    --color-default: #212529;
    --color-primary: hsl( 0, 84%, 44% );
    --color-secondary: #37373f;
    --color-tertiary: #7f7f90;
    --color-light: hsl( 0, 0%, 100% );
    --color-light-grey: #eee;
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
}
body {
    font-family: var(--font-default);
    color: var(--color-default);
    background-color: var(--color-light);
    margin: 0%;
    
}
::selection{
    background-color: rgb(216,84,84);
    color: white;
}
/* start nav bar */
.nav{
    background-color: white;
    position: sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.10);
    z-index: 2;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0% 50px;
}
.nav-logo a{
    text-decoration: none;
    color: white;
    
}
.nav .nav-logo a{
    color: var(--color-default) ;

}
.nav-logo h1::after{
    content: ".";
    color: red;
}
.nav-ul a{
    text-decoration: none;
}
.nav-ul ul li a{
    color: var(--color-tertiary);
    transition: all 0.5s;
    position: relative;
}
.nav-ul ul li a::after{
    content: "";
    height: 2px;
    background-color: red;
    position: absolute;
    width: 0%;
    top: 100%;
    left: 0%;
    transition: all 0.5s;
}

.nav-ul ul li a:hover{
    color: var(--color-default) ;
}
.nav-ul ul li a:hover::after{
    width: 100%;
}
.nav-ul{
    font-size: 20px;
    font-weight: 700;
    width: 30%;
}
.nav-ul ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-content .night{
    font-size: 30px;
}
/* end nav bar */
/* start home */
.home{
    background-color: rgb(238,238,238);
    /* height: 90vh; */
    margin-bottom: 50px;

}
.container{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
.home-content{
    width: 40%;
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.home-content h2{
    font-size: 80px;
    color: rgb(55,55,63);
}
.home-content p{
    font-family: var(--font-default);
    color: rgb(55,55,63);

}
.btn{
    border: none;
    padding: 15px;
    font-size: 15px;
}
.btn1{
    background-color: var(--color-primary);
    color: white;
    border-radius: 0px  30px 30px 30px;
    padding: 15px 25px;
}
.btn1:hover{
    background-color: red;
}
.btn2{
    transition: all 1s;
}
.btn2:hover{
    color: red;
}
.btn2 i{
    background-color: white;
    padding: 15px;
    border-radius: 50%;
}
.btn2 span{
    padding: 20px 5px;
    border-radius: 50%;
    background-image: linear-gradient(to right, red 50%, transparent 50%);

}
.home-photo img{
    width: 100%;
}
.home-photo{
    width: 35%;
    padding: 20px 0;
}
.home-photo:hover{
    animation-name: vibrate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes vibrate {
    0% { transform: translate(0, 0) rotate(1deg); }
    20% { transform: translate(-5px, -5px) rotate(-1deg); }
    40% { transform: translate(5px, 5px) rotate(3deg); }
    60% { transform: translate(-5px, -5px) rotate(-3deg); }
    80% { transform: translate(5px, 5px) rotate(3deg); }
    100% { transform: translate(0,0 ) rotate(-3deg); }
  }
/* end home */
/* start chefs */
.chefs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
}
.heading{
    text-align: center;
    line-height: 0;

    
}
.heading span{
    margin: 30px;
}
.heading h2{
    font-family: var(--font-primary);
    letter-spacing: 1px;
    font-size: 60px;
    margin: 50px;


}
.heading h2 span{
    color: var(--color-primary);
    margin: 0%;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}
.card-content{
    text-align: center;
    position: relative;
}
.inner-image{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 106%;
    background-color: #ffffff;
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 48.28%, 2.00% 44.96%, 4.00% 44.90%, 6.00% 48.14%, 8.00% 53.18%, 10.00% 57.71%, 12.00% 59.65%, 14.00% 58.11%, 16.00% 53.80%, 18.00% 48.70%, 20.00% 45.14%, 22.00% 44.76%, 24.00% 47.74%, 26.00% 52.70%, 28.00% 57.38%, 30.00% 59.61%, 32.00% 58.39%, 34.00% 54.26%, 36.00% 49.13%, 38.00% 45.35%, 40.00% 44.65%, 42.00% 47.36%, 44.00% 52.23%, 46.00% 57.03%, 48.00% 59.55%, 50.00% 58.64%, 52.00% 54.71%, 54.00% 49.57%, 56.00% 45.58%, 58.00% 44.56%, 60.00% 46.99%, 62.00% 51.75%, 64.00% 56.66%, 66.00% 59.45%, 68.00% 58.86%, 70.00% 55.15%, 72.00% 50.03%, 74.00% 45.84%, 76.00% 44.51%, 78.00% 46.65%, 80.00% 51.28%, 82.00% 56.27%, 84.00% 59.33%, 86.00% 59.06%, 88.00% 55.58%, 90.00% 50.49%, 92.00% 46.12%, 94.00% 44.48%, 96.00% 46.33%, 98.00% 50.80%, 100.00% 55.86%);
}

.card-content p{
    padding: 0 25px;
}
.cards img{
    width: 100%;
    border-radius: 20px;
}
.card1,.card2,.card3{
    width: 30%;
    box-shadow: 0px 0px 10px 1px rgba(55,55,63,0.5);
}
.card{
    transition: all 0.5s;
    border-radius: 20px;
}
.card:hover{
    transform: scale(1.08,1.08);
}
.image{
    position: relative;
    overflow: hidden;
}
.imag-icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 10%;
    background-color:var(--color-light-grey);
    border-radius: 5%;
    top: 20%;
    right: 3%;
    transform: translateX(200%);
    transition: all 0.5s 0.5s;
    opacity: 50%;
    text-align: center;
}

.image:hover .imag-icons {
    transform: translateX(0);
}
.imag-icons i{
    padding: 15px;
    border-radius: 5%;
    font-size: larger;
    opacity: 50%;
}
.imag-icons i:hover{
    opacity: 100%;
}
.imag-icons a{
    text-decoration: none;
    color: var(--color-default);
}
/* end chefs */
/* start gallery */
.gallery-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    margin-bottom: 40px;
    width: 80%;
    margin: auto;
    }
.gallery-content img{
        width: 100%;
    }
    
    .meal1 { grid-area: 1 / 1 / 4 / 2; }
    .meal2 { grid-area: 1 / 2 / 4 / 3; }
    .meal3 { grid-area: 1 / 3 / 4 / 4; }
.layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    transform: translateY(130%);
    transition: all 0.5s;
    display: flex;
    line-height: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.meal:hover .layer{
    transform: translateY(0%);
}

.gallery-content .meal{
    position: relative;
    overflow: hidden;
}

/* end gallery */
/* start contact */
.contact{
    margin-top: 20px;
}
.frame{
    width: 90%;
    margin: auto;
}
iframe{
    border: 0;
    width: 100%;
    height: 450px;
    margin: auto;
}
.contact-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content{
    background-color: var(--color-light-grey);
    display: flex;
    align-items: center;
    width: 40%;
    margin: 20px;
    padding: 15px 0;
    align-content: space-evenly;
}
.content .icon{
    padding: 10px;
    color: white;
    background-color: var(--color-primary);
    border-radius: 50%;
    padding: 15px;
    margin: 0 10px;
    font-size: 20px;
}
.contact-content .heads{
    margin-left: 10px;
    line-height: 0.5;
}
.contact-content .heads h3{
    font-size: 25px;
    color: #7f7f90;
}
.contact-content .heads p{
    color: #37373f;
}
.contact-content .heads span{
    color: var(--color-default);
    font-size: larger;
    font-weight: bolder;
}
.contact-inner{
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    margin: 10px auto 60px ;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px rgba(55,55,63,0.3);


}
.contact-inner input{
    margin: 20px 15px;
    height: 40px;
    border: 2px solid #b4b2b2;
    width: 45%;
}
.contact-inner #subject{
    width: 100%;
}
.contact-inner #message{
    width: 100%;
    height: 100px;
}
.contact-inner button{
    background-color: var(--color-primary);
    color: white;
    padding: 20px 40px;
    border-radius: 40px;
    margin: 20px auto;
}
/* end contact */
/* start footer */
body .footer ::selection{
    background-color: var(--color-primary);
}
.footer{
    background-image: url(images/textured-metal-background.jpg);
    background-size: contain;
    color: white;

}
.background{

    background-color: rgba(0,0,0,0.6);
}
.footer .footer-container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    
}
.footer-logo a{
    text-decoration: none;
    color: white; 
}
.part h3{
    font-size: 20px;
    font-weight: bolder;
}
.part1{
    width: 20%;
}
.part1 h3{
    text-align: center;

}
.part1 .footer-icon{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
.part2 {
    width: 40%;
}
.part2 input{
    width: 75%;
    padding: 15px 0;    
}
.part2 button{
    width: 20%;
    padding: 18px 10px;
    background-color: var(--color-primary);
    color: white;
    font-size: 12px;
    border: none;
}
.part2 .lists{
    width: 100%;
    display: flex;
}
.part2 .lists .list{
    width: 50%;
}
.part2 ul{
    list-style: none;
    padding: 0;
    margin: 0%;
    
}
.part2 ul li{
    margin: 5px;
    padding: 5px;
    transition: all 0.5s;
    font-size: 20px;
}
.part2 ul li:hover{
    background-color: var(--color-default);
    transform: translateX(20px);
}

.part2 ul li i{
    margin: 7px;
}
.part3 i{
    color: var(--color-primary);
    font-size: 20px;
    margin-right: 20px;

}
.footer-logo{
    display: flex;
    width: 200px;
    align-items: center;
}
.footer-logo h1::after{
    content: ".";
    color: red;
}
.footer-logo img{
    width: 90%;
}
.footer-img{
    width: 80%;
}
/* end footer */